

.main {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  text-align: justify;
  line-height: 1.6; /* mejora la lectura */
  margin-bottom: 12px; /* separa los párrafos */

  /* organiza el parrafo quienes somos*/
  .quienes-somos {
  background-color: #fff7e6;
  border: 2px solid #ffd54f;
  border-radius: 15px;
  padding: 30px;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
 
}

.section {
  max-width: 900px;         /* Limita el ancho para mayor legibilidad */
  margin: 0 auto;           /* Centra horizontalmente */
  padding: 2rem;            /* Espaciado interno */
  text-align: justify;      /* Justifica el texto */
}

.titulo2 {
  text-align: center;       /* Centra el título */
  color: #d32f2f;           /* Rojo personalizado */
  border-bottom: 2px solid #ffcc00; /* Línea decorativa */
  padding-bottom: 5px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
}

footer {
  background-color: #fff7E6;;
  color: #222;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  border: 2px solid #ffd54f;
}

footer a {
  color: #d32f2f;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}



/* Pone el logo de solfecon a la inzquierda*/
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  
}

.brand-text {
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 1.5rem;
  color: #d32f2f;
  font-weight: bold;
  font-size: 1.8rem;


}

.navbar {
  border: 3px solid #fbc02d; /* Borde completo */
  background-color: #ffffff; /* Fondo blanco para que contraste */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.navbar .nav-link {
  color: #d32f2f !important;
  font-size: 1.5rem;
  border-bottom: 2px solid #ffcc00;
  font-weight: bold;
  font-size: 15px;
}

.enlace-carousel {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #d32f2f; /* Rojo o el color que prefieras */
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-size: 40px;
  text-decoration: none;
  border-bottom: 2px solid #ffcc00;
}



/* centra todas las columnas de la tabla*/
.table td:nth-child(2),
.table th:nth-child(2) {
  text-align: center;
}

.table td:nth-child(1),
.table th:nth-child(1) {
  text-align: center;
}

.table td:nth-child(3),
.table th:nth-child(3) {
  text-align: center;
}

.table td:nth-child(4),
.table th:nth-child(4) {
  text-align: center;
}

.contacto-caja {
  text-align: center;
  margin-top: 20px;
}